!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ :name => "viewport", :content => "width=device-width, user-scalable=no" }
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || 'John Wilson &bull; Designer'

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/783460/682422/css/fonts.css" />

    = stylesheet_link_tag 'application'

  %body{ class: page_classes }

    = yield

    = javascript_include_tag  'application'
