// *************************************
//
//   Content
//   -> Structure & layout
//
// *************************************

.content
  background: white

// -------------------------------------
//   Modifiers
// -------------------------------------

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Context
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

.content-wrap
  @extend .borderBox
  @extend .mhc
  @extend .mtxl
  max-width: 48em
  padding: 5.5em 2.4em
  +respond-to($breakpoint)
    padding: 8.5em 3.4em

// -------------------------------------
//   Animations
// -------------------------------------

// ----- Third Level Comment ----- //

// Fourth Level Comment
