// *************************************
//
//   Header
//   -> Logo & navigation
//
// *************************************

.header
  @extend .borderBox
  @extend .taj
  background: $c-text
  height: 5em
  left: 0
  position: fixed
  right: 0
  width: 100%
  +respond-to($breakpoint)
    height: 7em

// -------------------------------------
//   Modifiers
// -------------------------------------

.header-logo
  @extend .dib
  height: 100%
  vertical-align: middle
  width: 5em
  a
    @extend .maf
    @extend .paf
    opacity: 0.85
    &:hover,
    &:focus
      opacity: 1
  img
    @extend .rac
    height: auto
    margin-top: -0.1em
    vertical-align: middle
    width: 100%
    +respond-to($breakpoint)
      margin-top: 0.8em

.header-nav
  @extend .dib
  a
    @extend .ral
    @extend .tci
    +transition(all,150ms)
    border: 1px $c-text solid
    font-size: 0.85em
    padding: 0.5em 1.5em
    +respond-to($breakpoint)
      font-size: 1em
    &:hover,
    &:focus
      background: lighten($c-text,5%)
      border-color: white
      color: white
    &:active
      @extend .tci
      background: $c-text
      border-color: $c-background

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Context
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

.header-wrap
  @extend .borderBox
  @extend .mhc
  @extend .plm
  @extend .prm
  height: 5em
  max-width: 48em
  +respond-to($breakpoint)
    padding: 0 2em
    height: 7em
  &::after
    content: ''
    display: inline-block
    width: 100%

// -------------------------------------
//   Animations
// -------------------------------------

// ----- Third Level Comment ----- //

// Fourth Level Comment
