// *************************************
//
//   Base
//   -> Tag-level settings
//
// *************************************

// -------------------------------------
//   Document
// -------------------------------------

html
  @extend .tfb
  @extend .tlm
  font-size: $base-fontSize * 0.85
  +respond-to(480px)
    font-size: $base-fontSize

html, body
  height: 100%

body
  -webkit-font-smoothing: antialiased
  background: $c-background
  color: lighten($c-text,10%)

// -------------------------------------
//   Block Content
// -------------------------------------

ul, ol, p, pre
  @extend .mbf
  @extend .mtf
  @extend .plf

li
  @extend .mbf
  @extend .mtf
  list-style: none

// ----- Headers ----- //

h1, h2, h3, h4
  @extend .tls

h1
  @extend .tsxl

h2
  @extend .tsl

h3
  @extend .tsm

h4
  @extend .tsm

// ----- Paragraphs ----- //

p
  @extend .mbl

// -------------------------------------
//   Anchors
// -------------------------------------

a
  @extend .tcb
  @extend .twb
  cursor: pointer
  padding-bottom: 0.15em
  text-decoration: none
  &:hover,
  &:focus
    border-bottom: 2px solid $c-base
